.signin-container {
    background-image: url('/assets/images/cruisedusk.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content-container {
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);
        padding: var(--spacing-2xl);
        border-radius: var(--border-radius-base);
        max-width: 470px;
        width: 100%;

        .header-container {
            display: flex;
            flex-direction: column;
            color: #333;
            gap: var(--spacing-md);

            h2 {
                font-size: 36px;
                font-weight: var(--font-weight-medium);
                text-align: center;
            }

            p {
                font-size: 20px;
            }
        }

        img {
            width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: var(--spacing-3xs);

            .col-container {
                display: flex;
                flex-direction: column;
                align-items: left;
                width: 100%;
                gap: var(--spacing-md);

            }

            a {
                color: var(--color-blue-500);
            }

            .button-container {
                margin-top: var(--spacing-md);

                button {
                    padding: var(--spacing-xs) var(--spacing-2xl);
                }

                div {
                    margin-top: var(--spacing-sm);
                    display: flex;
                    flex-direction: row;
                    gap: var(--spacing-md);

                    a {
                        color: var(--color-blue-500);
                    }
                }
            }
        }
    }
}

@media (max-width: 470px) {
    .signin-container {
        background-image: none; /* Remove background image */
        background-color: white; /* Set background color to white */
    }
}